# Игнорировать виртуальное окружение
venv/
.env/
.env.local

# Игнорировать файлы PyCharm
.idea/
*.iml
*.ipr
*.iws

# Игнорировать кэш Python
__pycache__/
*.py[cod]
*$py.class

# Игнорировать логи и временные файлы
*.log
*.tmp
*.temp

# Игнорировать статические файлы (если они генерируются автоматически)
app/static/uploads/

# Игнорировать файлы базы данных
*.db
*.sqlite3

# Игнорировать файлы зависимостей
node_modules/
bower_components/

# Игнорировать файлы сборки
build/
dist/
*.egg-info/