fastapi==0.115.6
uvicorn==0.32.1
sqlalchemy==2.0.35
alembic==1.13.3
asyncpg==0.30.0
pydantic==2.10.3
pydantic-settings==2.6.1
bcrypt==4.0.1
python-multipart==0.0.19
celery==5.4.0
redis==5.2.1
loguru==0.7.3
requests==2.32.3
flower==2.0.1
billiard==4.2.1